body {
    margin: 0;
    font-family: sans-serif;
}

#webGl {
    display: block;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    touch-action: none;
}

.container {
    background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
}

#controlContainer {
    position: absolute;
    padding: 5px;
    right: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: max-content;
    max-height: 80vh;
    max-height: calc(var(--vh, 1vh) * 80);
    overflow-y: scroll;
}

#chartContainer {
    position: absolute;
    padding: 5px;
    top: 0px;
    left: 10px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
    height: max-content;
    max-height: 80vh;
    max-height: calc(var(--vh, 1vh) * 80);
    max-width: 20vw;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#legalNotice {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#buttonContainer {
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#drawingContainer {
    position: absolute;
    padding: 5px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#lineContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 2px;
}

#maxLod {
    width: 5em;
    margin-right: 1em;
}

#kPatchBase {
    width: 5em;
    margin-right: 1em;
}

#errorThreshold {
    width: 10em;
    margin-right: 1em;
}

#fileError {
    color: red;
}

@keyframes c-inline-spinner-kf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.c-inline-spinner,
.c-inline-spinner:before {
    display: inline-block;
    width: 11px;
    height: 11px;
    transform-origin: 50%;
    border: 2px solid transparent;
    border-color: black black transparent transparent;
    border-radius: 50%;
    content: "";
    animation: linear c-inline-spinner-kf 900ms infinite;
    position: relative;
    vertical-align: inherit;
    line-height: inherit;
}

.c-inline-spinner {
    top: 3px;
    margin: 0 3px;
}

.c-inline-spinner:before {
    border-color:black black transparent transparent;
    position: absolute;
    left: -2px;
    top: -2px;
    border-style: solid;
}